---
import Layout, { LayoutType } from "src/layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import AuthForm from "@components/AuthForm.astro";
import * as PARAMS from "@utils/urlParams";
import InputGroup from "@components/InputGroup.astro";

let userEmail;

const PAGE_TITLE = "Resetowanie hasła";
const url = new URL(Astro.request.url);
const emailParam = url.searchParams.get(PARAMS.EMAIL);

if (emailParam) {
  userEmail = emailParam;
}
---

<Layout
  pageName={pageTitle(PAGE_TITLE)}
  title=""
  layout={LayoutType.centered}
  grid={false}
>
  <password-reset-form>
    <AuthForm title={PAGE_TITLE}>
      <InputGroup>
        <label for="email">Podaj adres e-mail konta</label>
        <input id="email" type="email" name="email" value={userEmail} />
      </InputGroup>
      <button type="submit">Wyślij</button>
    </AuthForm>
  </password-reset-form>
</Layout>

<script>
  import "@wc/PasswordResetForm";
</script>
