---
import Layout, { LayoutType } from "../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import AuthForm from "@components/AuthForm.astro";
import * as PARAMS from "@utils/urlParams";
import InputGroup from "@components/InputGroup.astro";
import routes from "@utils/routes";
import { passwordResetInProgress } from "@db/user";
import Hint from "@components/Hint.astro";

let verificationCode, password;

const url = new URL(Astro.request.url);
const userEmail = url.searchParams.get(PARAMS.EMAIL);
const PAGE_TITLE = "Ustawianie nowego hasła";

try {
  const resetInProgress = await passwordResetInProgress(
    decodeURIComponent(userEmail || "")
  );

  if (!resetInProgress) {
    throw new Error();
  }
} catch {
  return Astro.redirect(routes.NOT_FOUND);
}
---

<Layout pageName={pageTitle(PAGE_TITLE)} title="" layout={LayoutType.centered}>
  <new-password-form data-user-email={userEmail}>
    <AuthForm title={PAGE_TITLE}>
      <Hint>
        Wysłaliśmy kod potwierdzający na adres <strong>{userEmail}</strong>
      </Hint>
      <InputGroup>
        <label for="email">Podaj kod weryfikacyjny</label>
        <input
          id="code"
          type="text"
          name="code"
          required
          value={verificationCode}
        />
      </InputGroup>
      <br />
      <InputGroup>
        <label for="password">Podaj nowe hasło</label>
        <input
          id="password"
          type="password"
          name="password"
          value={password}
          required
          pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,20}$"
        />
      </InputGroup>
      <InputGroup>
        <label for="password-confirm">Potwierdź nowe hasło</label>
        <input
          id="password-confirm"
          type="password"
          name="password-confirm"
          required
          pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,20}$"
        />
      </InputGroup>
      <button type="submit">Wyślij</button>
    </AuthForm>
  </new-password-form>
</Layout>

<style>
  new-password-form {
    @apply col-span-full;
  }
</style>

<script>
  import "@wc/NewPasswordForm";
</script>
