---
import Layout from "../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
//@ts-ignore
import { sanityClient } from "sanity:client";
import type { ImageAsset, Slug } from "@sanity/types";
// import type { PortableTextBlock } from "@portabletext/types";

const PAGE_TITLE = "Blog";

interface Post {
  _type: "post";
  _createdAt: string;
  publishedAt: string;
  title?: string;
  slug: Slug;
  mainImage?: ImageAsset;
  // body: PortableTextBlock[];
}

const posts: Post[] = await sanityClient.fetch(
  `*[_type == "post"] | order(publishedAt desc) {
    title, publishedAt
  }`
);

console.log({ posts });
---

<Layout title={pageTitle(PAGE_TITLE)}>
  <span slot="topbar-title">{PAGE_TITLE}</span>
  <section>
    {
      posts && (
        <ul>
          {posts.map(({ title, slug: { current: url }, publishedAt }) => (
            <li>
              <a href={`/blog/${url}`}>
                <h3>{title}</h3>
                <time>{publishedAt}</time>
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </section>
</Layout>

<style></style>
