---
import Layout from "../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import imageUrl from "@utils/sanityImage";
import formatDate from "@utils/date";
import Badge from "@components/Badge.astro";
import screens from "@utils/screens";
import trimWhitespace from "@utils/whitespace";
import type { Post } from "@type";
import BlogContent from "@components/BlogContent.astro";
import { getPost } from "@api/posts";
import { REDIRECT } from "@utils/urlParams";
import routes from "@utils/routes";
import { captureError } from "@utils/sentry";

const PAGE_TITLE = "Blog";

let title: Post["title"] | undefined,
  publishedAt: Post["publishedAt"],
  mainImage: Post["mainImage"],
  body: Post["body"],
  excerpt: Post["excerpt"],
  keywords: Post["keywords"],
  description: Post["description"],
  documents: Post["documents"],
  error: string | undefined;

try {
  ({
    title,
    publishedAt,
    mainImage,
    body,
    excerpt,
    keywords,
    description,
    documents,
  } = await getPost(
    `${Astro.request.headers.get("cookie")}`,
    Astro.params.slug as string
  ));
} catch (e) {
  if (e instanceof Error) {
    switch (e.cause) {
      case 403:
        return Astro.redirect(
          `${routes.SIGN_IN}?${REDIRECT}=${Astro.url.pathname}`
        );

      case 404:
      case 401:
        return Astro.redirect(routes.NOT_FOUND);

      default:
        captureError(e);
        return Astro.redirect(routes.NOT_FOUND);
    }
  }
}
---

<Layout
  title={pageTitle(`${title} - Blog`)}
  description={description ?? trimWhitespace(excerpt || "")}
  keywords={keywords}
>
  <span slot="topbar-title">{PAGE_TITLE}</span>
  <div>
    <header>
      {
        mainImage && (
          <figure>
            <picture>
              <source
                media={`(max-width:${screens.sm - 1}px)`}
                srcset={`${imageUrl(mainImage, 600, 180).url()}`}
              />
              <source
                media={`(min-width:${screens.sm}px)`}
                srcset={`${imageUrl(mainImage, 1000, 400).url()}`}
              />
              <img
                src={imageUrl(mainImage, 1000, 400).url()}
                alt={title}
                loading="lazy"
                width="100%"
              />
            </picture>
          </figure>
        )
      }
      <div>
        <h1>{title}</h1>
        {
          publishedAt ? (
            <time>{formatDate(publishedAt)}</time>
          ) : (
            <Badge>Szkic artykułu</Badge>
          )
        }
      </div>
    </header>
    <article class="prose">
      {body && <BlogContent content={body} />}
      {
        documents && (
          <>
            <hr />
            <h4>Powiązane dokumenty</h4>
            <ul>
              {documents.map(({ title, slug }) => (
                <li>
                  <a href={`${Astro.url.origin}/dokumenty/${slug}`}>{title}</a>
                </li>
              ))}
            </ul>
          </>
        )
      }
    </article>
  </div>
</Layout>

<style>
  div {
    @apply bg-white rounded-lg my-20 flex flex-col items-start w-full max-w-[1000px];
  }

  header > div {
    @apply py-20 px-20 sm:px-40;
  }

  header h1 {
    @apply text-dark90 mt-20 mb-20;
  }

  header figure {
    @apply rounded-t overflow-hidden p-0;
  }

  article {
    @apply px-20 sm:px-40 pb-40;
  }
</style>
