---
import Layout from "../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import { PAGE } from "@utils/urlParams";
import Pagination from "@components/Pagination.astro";
import EmptyScreen from "@components/EmptyScreen.astro";
import BlogPost from "@components/BlogPost.astro";
import apiHeaders from "@utils/headers";
import type { Post } from "@type";

const PAGE_TITLE = "Blog";

let posts: Post[] | undefined,
  pages: number = 1,
  currentPage: number = 1;

const page = Number(new URL(Astro.request.url).searchParams.get(PAGE)) || 1;

try {
  const response = await fetch(
    `${Astro.url.origin}/api/posts?${PAGE}=${page}`,
    {
      headers: {
        ...apiHeaders,
        cookie: Astro.request.headers.get("cookie") as string,
      },
    }
  );

  if (!response.ok) {
    throw new Error("", { cause: response.status });
  }

  ({ posts, pages } = await response.json());

  currentPage = page <= pages ? page : 1;
} catch (e) {
  return Astro.redirect("/404");
}
---

<Layout title={pageTitle(PAGE_TITLE)}>
  <span slot="topbar-title">{PAGE_TITLE}</span>
  {
    posts ? (
      <div>
        <section>
          {posts.map(
            ({
              title,
              slug: { current: url },
              publishedAt,
              mainImage,
              excerpt,
            }) => (
              <BlogPost
                title={title}
                url={url}
                publishedAt={publishedAt}
                mainImage={mainImage}
                excerpt={excerpt}
              />
            )
          )}
        </section>
        {pages > 1 && (
          <Pagination
            pages={pages}
            currentPage={currentPage}
            url={`${Astro.url.origin}/blog`}
          />
        )}
      </div>
    ) : (
      <EmptyScreen>Brak artykułów do wyświetlenia</EmptyScreen>
    )
  }
</Layout>

<style>
  div {
    @apply flex flex-col gap-20;
  }

  section {
    @apply grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 3xl:grid-cols-5 gap-20 w-full;
    @apply pt-10;
  }
</style>
