---
import Layout from "../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import DataInput from "@components/DataInput.astro";
import routes from "@utils/routes";
import { REDIRECT } from "@utils/urlParams";
import { getIdentity } from "@api/identities";
import { Identity } from "@type";
import { captureError } from "@utils/sentry";

const { identityId } = Astro.params as { identityId: string };

const PAGE_TITLE = "Edytuj tożsamość";
let type: Identity["type"],
  name: Identity["name"],
  pin: Identity["pin"],
  street: Identity["street"],
  apt: Identity["apt"],
  postalCode: Identity["postalCode"],
  city: Identity["city"],
  bankAccount: Identity["bankAccount"];

try {
  ({ type, name, pin, street, apt, postalCode, city, bankAccount } =
    await getIdentity(identityId, `${Astro.request.headers.get("cookie")}`));
} catch (e) {
  if (e instanceof Error) {
    if (e.cause === 404) {
      return Astro.redirect(routes.NOT_FOUND);
    }
  }

  captureError(e);
  return Astro.redirect(routes.NOT_FOUND);
}
---

<Layout title={pageTitle(PAGE_TITLE)}>
  <span slot="topbar-title">{PAGE_TITLE}</span>
  <identity-form data-identity-id={identityId}>
    <form method="POST">
      <header>
        <h3>Wypełnij formularz z danymi</h3>
      </header>
      <DataInput
        type={type}
        name={name}
        street={street}
        apt={apt}
        postalCode={postalCode}
        city={city}
        pin={pin}
        bankAccount={bankAccount}
        showBankAccount={true}
      />
      <footer>
        <a href={`${Astro.url.origin}/tozsamosci`}>Anuluj</a>
        <button type="submit">Zapisz</button>
      </footer>
    </form>
  </identity-form>
</Layout>

<style>
  form {
    @apply w-full max-w-[780px] mx-auto;
    @apply flex flex-col justify-center min-h-full;
    @apply py-[var(--navbar-height)];
  }

  form header {
    @apply flex flex-col gap-15 mb-15;
  }

  form :global(fieldset) {
    @apply flex flex-col gap-20;
  }

  form footer {
    @apply flex justify-between items-center;
    @apply my-30;
  }

  form footer button[type="submit"],
  form footer a {
    @apply btn btn-big;
  }

  form footer a {
    @apply btn-alt;
  }

  form footer button[type="submit"] {
    @apply btn-default;
  }
</style>

<script>
  import "@wc/IdentityForm";
</script>
