---
import Layout, { LayoutType } from "../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import DataInput from "@components/DataInput.astro";
import { getSession } from "auth-astro/server";
import routes from "@utils/routes";
import { REDIRECT } from "@utils/urlParams";
import AccountNav from "@components/AccountNav.astro";

const session = await getSession(Astro.request);
if (!session) {
  return Astro.redirect(`${routes.SIGN_IN}?${REDIRECT}=${Astro.url.pathname}`);
}

const PAGE_TITLE = "Dodaj tożsamość";
---

<Layout
  pageName={pageTitle(PAGE_TITLE)}
  title={PAGE_TITLE}
  grid={false}
  sidebar={true}
>
  <AccountNav slot="sidebar" />
  <identity-form>
    <form method="POST" spellcheck="false" transition:persist data-astro-reload>
      <DataInput showBankAccount={true} />
      <footer>
        <a href={`${Astro.url.origin}/tozsamosci`}>Anuluj</a>
        <button type="submit">Zapisz</button>
      </footer>
    </form>
  </identity-form>
</Layout>

<style>
  form {
    @apply w-full max-w-[700px];
  }

  form footer {
    @apply flex justify-between items-center gap-15 flex-wrap sm:flex-nowrap;
    @apply my-30;
  }

  form footer button[type="submit"],
  form footer a {
    @apply btn btn-big flex-grow w-full sm:w-auto;
  }

  form footer a {
    @apply btn-alt;
  }

  form footer button[type="submit"] {
    @apply btn-default;
  }
</style>

<script>
  import "@wc/IdentityForm";
</script>
