---
import Layout from "../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import DataInput from "@components/DataInput.astro";
import { getSession } from "auth-astro/server";
import routes from "@utils/routes";
import { REDIRECT } from "@utils/urlParams";
import { Identity } from "@type";

const session = await getSession(Astro.request);
if (!session) {
  return Astro.redirect(`${routes.SIGN_IN}?${REDIRECT}=${Astro.url.pathname}`);
}

const PAGE_TITLE = "Dodaj tożsamość";
---

<Layout title={pageTitle(PAGE_TITLE)}>
  <span slot="topbar-title">{PAGE_TITLE}</span>
  <identity-form>
    <form method="POST">
      <header>
        <h3>Wypełnij formularz z danymi</h3>
      </header>
      <DataInput />
      <footer>
        <a href={`${Astro.url.origin}/tozsamosci`}>Anuluj</a>
        <button type="submit">Zapisz</button>
      </footer>
    </form>
  </identity-form>
</Layout>

<style>
  form {
    @apply w-full max-w-[780px] mx-auto;
    @apply flex flex-col justify-center min-h-full;
    @apply py-[var(--navbar-height)];
  }

  form header {
    @apply flex flex-col gap-15 mb-15;
  }

  form :global(fieldset) {
    @apply flex flex-col gap-20;
  }

  form footer {
    @apply flex justify-between items-center;
    @apply my-30;
  }

  form footer button[type="submit"],
  form footer a {
    @apply btn btn-big;
  }

  form footer a {
    @apply btn-alt;
  }

  form footer button[type="submit"] {
    @apply btn-default;
  }
</style>

<script>
  import "@wc/IdentityForm";
</script>
