---
import Layout from "../../../layouts/App.astro";
import { getEntry } from "astro:content";
import { getUserDocument, createDocument } from "@db/document";
import { getSession } from "auth-astro/server";
import crypt from "@utils/crypt";
import { Icon } from "astro-icon";
import { formatDateTime } from "@utils/date";
import pageTitle from "@utils/pageTitle";
import type { Answers } from "@type";

const { documentId: dId } = Astro.params;
const documentId = String(dId);
const session = await getSession(Astro.request);

let data, title;

if (!session) {
  return Astro.redirect(
    `/zaloguj-sie?redirect=dokumenty/${documentId}/dokument`
  );
}

Astro.cookies.delete(documentId);

const userId = session.user?.id;

if (!userId) {
  return Astro.redirect("/404");
}

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  let answers: Answers = {};

  formData.forEach((value, key) => (answers[key] = value));

  const document = await createDocument(documentId, answers, userId);

  if (document) {
    return Astro.redirect(
      `${Astro.url.origin}/dokumenty/${document.id}/dokument?success=true`
    );
  } else {
    return Astro.redirect("/404");
  }
}

if (Number(documentId)) {
  data = await getUserDocument(documentId, userId);

  if (!data || data.draft) {
    return Astro.redirect("/404");
  }

  title = data.title;
} else {
  return Astro.redirect("/404");
}

const { answers, doc: docId, created, modified } = data;

const document = await getEntry("documents", docId);

if (!document) {
  return Astro.redirect("/404");
}

const { remarkPluginFrontmatter: qData, Content } = await document.render();
const { encrypted, title: docTitle } = document.data;

for (let key of Object.keys(answers)) {
  if (key !== "title") {
    if (encrypted && encrypted.includes(key)) {
      try {
        qData[key] = crypt.decrypt(answers[key]);
      } catch {}
    } else {
      qData[key] = answers[key];
    }
  }
}

if (!title) title = docTitle;

const url = new URL(Astro.request.url);
const urlParams = new URLSearchParams(url.search);
const firstTime = urlParams.get("success") === "true" ? true : false;
---

<Layout title={pageTitle(String(title))}>
  <span slot="topbar-title">{title}</span>
  <article id="doc" class="prose prose-document" data-title={title}>
    <Content />
  </article>
  <aside>
    <header>
      {
        firstTime ? (
          <>
            <Icon name="big-tick" width={48} height={48} />
            <h3>Twój dokument jest gotowy!</h3>
          </>
        ) : (
          <>
            <Icon name="document" width={48} height={48} />
            <h3>{title}</h3>
          </>
        )
      }
    </header>
    {
      firstTime ? (
        <h6>Wybierz co chcesz teraz zrobić</h6>
      ) : (
        <h6>
          Utworzony{" "}
          <time>
            {modified
              ? formatDateTime(modified)
              : formatDateTime(created as Date)}
          </time>
        </h6>
      )
    }
    <div>
      <download-pdf content-id="#doc">
        <button>
          <Icon name="file-pdf" width={24} height={24} />
          Pobierz plik PDF
        </button>
      </download-pdf>
    </div>
    <footer>
      <a href=`${Astro.url.origin}/moje-dokumenty`>Zobacz w moich dokumentach</a
      >
    </footer>
  </aside>
</Layout>

<style>
  article {
    @apply bg-white p-20 sm:p-30 lg:p-50 w-full max-w-[900px] flex-shrink;
    @apply order-2 xl:order-1;

    counter-reset: section;
  }

  article :global(h4::before) {
    counter-increment: section;
    content: "\00A7"counter(section) ". ";
  }

  aside {
    @apply order-1 xl:order-2;
    @apply flex flex-col gap-15 items-start;
    @apply lg:sticky lg:top-[var(--navbar-height)] p-30;
    @apply print:hidden;
    @apply bg-light rounded-lg;
    @apply w-full lg:max-w-[300px];
  }

  aside header {
    @apply flex gap-15 items-center lg:items-start;
  }

  aside header h3 {
    @apply flex-shrink;
  }

  aside header svg {
    @apply flex-shrink-0;
    @apply w-[24px] h-[24px];
  }

  aside button {
    @apply btn btn-default btn-big;
  }

  aside a {
    @apply btn btn-alt;
  }

  aside > div {
    @apply flex flex-wrap gap-15;
  }

  aside footer {
    @apply lg:mt-20;
  }
</style>
<script>
  import exportPdf, { CONTENT_TYPES } from "@utils/exportPdf";

  class DownloadPdf extends HTMLElement {
    button: HTMLButtonElement;
    contentId: string;

    constructor() {
      super();

      this.button = this.querySelector("button") as HTMLButtonElement;
      this.contentId = String(this.getAttribute("content-id"));
    }

    connectedCallback() {
      this.button.addEventListener("click", () => {
        const docContent = document.querySelector(this.contentId);

        if (docContent) {
          exportPdf(
            this.getContentArray(docContent),
            docContent.getAttribute("data-title") || ""
          );
        }
      });
    }

    getContentArray(element: Element) {
      let array = [];

      for (let i = 0; i < element.children.length; i++) {
        const el = element.children[i];

        switch (el.tagName) {
          case "H3":
            array.push([CONTENT_TYPES.TITLE, el.textContent]);
            break;
          case "H4":
            array.push([CONTENT_TYPES.PARAGRAPH, el.textContent]);
            break;
          case "OL":
            array.push(...this.getLisItems(el));
            break;
        }
      }

      return array;
    }

    getLisItems(list: Element) {
      let array = [];
      const lineBreakRegex = /<\s*br\s*\/?>/gi;

      for (let i = 0; i < list.children.length; i++) {
        const lines = list.children[i].innerHTML.split(lineBreakRegex);

        for (const line of lines) {
          if (line.startsWith("\n")) {
            array.push([CONTENT_TYPES.LINE, this.cleanContent(line)]);
          } else {
            array.push([CONTENT_TYPES.POINT, this.cleanContent(line)]);
          }
        }
      }

      return array;
    }

    cleanContent(line: string) {
      return line
        .replace("\n", "")
        .trim()
        .replace(/<[^>]+>/g, "");
    }
  }
  customElements.define("download-pdf", DownloadPdf);
</script>
