---
import { getEntry } from "astro:content";
import Layout from "../../../layouts/App.astro";
import { getDocument, createDocument } from "../../../../db/document";
import { getSession } from "../../../auth-astro/server";
import { getUserByEmail } from "../../../../db/auth";

const { documentId: dId } = Astro.params;
const documentId = String(dId);
const session = await getSession(Astro.request);

let data, title;

if (!session) {
  return Astro.redirect(
    `/zaloguj-sie?redirect=dokumenty/${documentId}/dokument`
  );
}

Astro.cookies.delete(documentId);

const user = await getUserByEmail(String(session.user?.email));
const userId = user ? user.id : null;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  let answers = {};

  formData.forEach((value, key) => (answers[key] = value));

  const document = await createDocument(documentId, answers, userId);

  if (document) {
    return Astro.redirect(
      `${Astro.url.origin}/dokumenty/${document.id}/dokument`
    );
  } else {
    return Astro.redirect("/404");
  }
}

if (Number(documentId)) {
  data = await getDocument(documentId);

  if (!data || data.draft) {
    return Astro.redirect("/404");
  }

  title = data.title;
} else {
  return Astro.redirect("/404");
}

const { answers, doc: docId } = data;

const document = await getEntry("documents", docId);

if (!document) {
  return Astro.redirect("/404");
}

if (!title) title = document.data.title;

const { remarkPluginFrontmatter: qData, Content } = await document.render();

for (let key of Object.keys(qData.seed)) {
  if (key !== "title") qData.seed[key] = answers[key];
}
---

<Layout title={`Dokument - ${title}`}>
  <span slot="topbar-title">{title}</span>
  <article id="doc" class="prose" data-title={title}>
    <Content />
  </article>
  <aside>
    <h3>Twój dokument jest gotowy!</h3>
    <download-button content-id="#doc">
      <button>Pobierz plik Word</button>
    </download-button>
    <print-button>
      <button>Drukuj</button>
    </print-button>
  </aside>
</Layout>

<style>
  article {
    @apply bg-white p-30 lg:p-50 w-[90vw];
    @apply order-2 lg:order-1;
  }

  aside {
    @apply order-1 lg:order-2;
    @apply flex lg:flex-col gap-10 items-start;
    @apply sticky top-30;
    @apply print:hidden;
  }

  aside button {
    @apply btn btn-default btn-big;
  }
</style>
<script>
  import exportDoc from "../../../utils/exportDoc";

  class DownloadButton extends HTMLElement {
    contentId: string;
    button: HTMLButtonElement;

    constructor() {
      super();

      this.contentId = String(this.getAttribute("content-id"));
      this.button = this.querySelector("button") as HTMLButtonElement;
    }

    connectedCallback() {
      this.button.addEventListener("click", () => {
        const docContent = document.querySelector(this.contentId);

        if (docContent) {
          exportDoc(
            docContent.innerHTML,
            docContent.getAttribute("data-title")
          );
        }
      });
    }
  }
  customElements.define("download-button", DownloadButton);

  class PrintButton extends HTMLElement {
    button: HTMLButtonElement;

    constructor() {
      super();

      this.button = this.querySelector("button") as HTMLButtonElement;
    }

    connectedCallback() {
      this.button.addEventListener("click", () => {
        window.print();
      });
    }
  }
  customElements.define("print-button", PrintButton);
</script>
