---
import Layout from "../../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import formatNumber from "@utils/number";
import BlogPost from "@components/BlogPost.astro";
import BlogContent from "@components/BlogContent.astro";
import type { TemplateInfo } from "@type";
import { getTemplateInfo } from "@api/templates";
import { REDIRECT } from "@utils/urlParams";
import routes from "@utils/routes";
import { captureError } from "@utils/sentry";

let title: TemplateInfo["title"] = "",
  keywords: TemplateInfo["keywords"],
  description: TemplateInfo["description"],
  body: TemplateInfo["body"],
  posts: TemplateInfo["posts"] = null,
  price: TemplateInfo["price"] = null,
  firstQuestionUrl: TemplateInfo["firstQuestionUrl"] = "";

try {
  ({ title, keywords, description, body, posts, price, firstQuestionUrl } =
    await getTemplateInfo(
      `${Astro.request.headers.get("cookie")}`,
      Astro.params.documentId as string
    ));
} catch (e) {
  if (e instanceof Error) {
    switch (e.cause) {
      case 403:
        return Astro.redirect(
          `${routes.SIGN_IN}?${REDIRECT}=${Astro.url.pathname}`
        );
      case 404:
        return Astro.redirect(routes.NOT_FOUND);
      default:
        captureError(e);
        return Astro.redirect(routes.NOT_FOUND);
    }
  }
}
---

<Layout
  title={pageTitle(title)}
  keywords={keywords ?? undefined}
  description={description ?? undefined}
>
  <span slot="topbar-title">{title}</span>
  <section>
    <header>
      <h1>{title}</h1>
      <span>
        <small>Cena za 1 dokument:</small>
        {price && <strong>{formatNumber(price)} zł</strong>}
      </span>
      <a href={`${Astro.url.origin}${firstQuestionUrl}`}>Stwórz dokument</a>
    </header>
    <hr />
    {
      body && (
        <article class="prose">
          <BlogContent content={body} />
        </article>
      )
    }
    {
      posts && (
        <>
          <hr />
          <aside>
            <h4>Powiązane artykuły</h4>
            <div>
              {posts.map(({ title, slug, publishedAt, mainImage, excerpt }) => (
                <BlogPost
                  title={title}
                  url={slug}
                  publishedAt={publishedAt}
                  mainImage={mainImage}
                  excerpt={excerpt}
                  size="small"
                />
              ))}
            </div>
          </aside>
        </>
      )
    }
    <footer>
      <a href={`${Astro.url.origin}${firstQuestionUrl}`}>Stwórz dokument</a>
    </footer>
  </section>
</Layout>

<style>
  section {
    @apply bg-white rounded-lg p-20 sm:p-40 my-20 flex flex-col gap-30 max-w-[1000px];
  }

  header {
    @apply flex items-center gap-15 lg:gap-30 flex-wrap;
  }

  header h1 {
    @apply flex-grow;
    @apply text-2xl;
    @apply w-full lg:w-auto;
  }

  header span {
    @apply flex flex-col lg:items-end flex-grow;
  }

  header span strong {
    @apply text-lg;
  }

  footer a,
  header a {
    @apply btn btn-default btn-big;
  }

  hr {
    @apply border-dark30;
  }

  footer {
    @apply p-20 flex justify-center;
  }

  footer a {
    @apply btn-big;
  }

  aside > div {
    @apply grid sm:grid-cols-2 lg:grid-cols-3 gap-20;
    @apply pt-10;
  }
</style>
