---
import Layout from "../../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import formatNumber from "@utils/number";
import BlogPost from "@components/BlogPost.astro";
import BlogContent from "@components/BlogContent.astro";
import type { Document } from "@type";
import { getDocument } from "@api/documents";
import { getSession } from "auth-astro/server";
import { UserRoles } from "@db/user";
import { REDIRECT } from "@utils/urlParams";
import routes from "@utils/routes";

const session = await getSession(Astro.request);
const showDraft = session?.user?.role === UserRoles.admin;

let title: Document["title"] = "",
  keywords: Document["keywords"],
  description: Document["description"],
  body: Document["body"],
  posts: Document["posts"] = null,
  price: Document["price"] = null,
  firstQuestionUrl: Document["firstQuestionUrl"] = "";

try {
  const response = await getDocument(
    Astro.url.origin,
    Astro.params.documentId as string,
    Boolean(session),
    showDraft
  );

  ({ title, keywords, description, body, posts, price, firstQuestionUrl } =
    response);
} catch (e) {
  if (e instanceof Error) {
    if (e.cause === 401) {
      return Astro.redirect(
        `${routes.SIGN_IN}?${REDIRECT}=${Astro.url.pathname}`
      );
    } else {
      return Astro.redirect(routes.NOT_FOUND);
    }
  }
}
---

<Layout title={pageTitle(title)} keyword={keywords} description={description}>
  <span slot="topbar-title">{title}</span>
  <section>
    <header>
      <h1>{title}</h1>
      <span>
        <small>Cena za 1 dokument:</small>
        {price && <strong>{formatNumber(price)} zł</strong>}
      </span>
      <a href={`${Astro.url.origin}${firstQuestionUrl}`}>Stwórz dokument</a>
    </header>
    <hr />
    {
      body && (
        <article class="prose">
          <BlogContent content={body} />
        </article>
      )
    }
    {
      posts && (
        <>
          <hr />
          <aside>
            <h4>Powiązane artykuły</h4>
            <div>
              {posts.map(({ title, slug, publishedAt, mainImage, excerpt }) => (
                <BlogPost
                  title={title}
                  url={slug}
                  publishedAt={publishedAt}
                  mainImage={mainImage}
                  excerpt={excerpt}
                  size="small"
                />
              ))}
            </div>
          </aside>
        </>
      )
    }
    <footer>
      <a href={`${Astro.url.origin}${firstQuestionUrl}`}>Stwórz dokument</a>
    </footer>
  </section>
</Layout>

<style>
  section {
    @apply bg-white rounded-lg p-20 sm:p-40 my-20 flex flex-col gap-30 max-w-[1000px];
  }

  header {
    @apply flex items-center gap-15 lg:gap-30 flex-wrap;
  }

  header h1 {
    @apply flex-grow;
    @apply text-2xl;
    @apply w-full lg:w-auto;
  }

  header span {
    @apply flex flex-col lg:items-end flex-grow;
  }

  header span strong {
    @apply text-lg;
  }

  footer a,
  header a {
    @apply btn btn-default btn-big;
  }

  hr {
    @apply border-dark30;
  }

  footer {
    @apply p-20 flex justify-center;
  }

  footer a {
    @apply btn-big;
  }

  aside > div {
    @apply grid sm:grid-cols-2 lg:grid-cols-3 gap-20;
    @apply pt-10;
  }
</style>
