---
import { getEntry } from "astro:content";
import Layout from "../../../layouts/App.astro";

const { documentId } = Astro.params;

Astro.cookies.delete(String(documentId), { path: `/dokumenty/${documentId}` });

const info = await getEntry("info", String(documentId));
const document = await getEntry("documents", String(documentId));

if (!info || !document) {
  return Astro.redirect("/404");
}

const { Content } = await info.render();
const { title, index } = document.data;

const firstQuestionUrl = `${Astro.url.origin}/dokumenty/${documentId}/${index[0].questions[0].id.slug}`;
---

<Layout title={title}>
  <span slot="topbar-title">Wszystkie dokumenty</span>
  <div>
    <header>
      <h1>{title}</h1>
      <a href={firstQuestionUrl}>Stwórz dokument</a>
    </header>
    <hr />
    <article class="prose">
      <Content />
    </article>
    <footer>
      <a href={firstQuestionUrl}>Stwórz dokument</a>
    </footer>
  </div>
</Layout>

<style>
  a {
    @apply btn btn-default;
  }

  hr {
    @apply my-50;
  }

  footer {
    @apply p-50 flex justify-center;
  }

  footer a {
    @apply btn-big;
  }
</style>
