---
import Layout from "../../../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import formatNumber from "@utils/number";
import BlogPost from "@components/BlogPost.astro";
import { PortableText } from "astro-portabletext";
import type { PostShort as Post } from "@type";
import type { PortableTextBlock } from "@portabletext/types";
import apiHeaders from "@utils/apiHeaders";

let title: string | undefined,
  keywords: string | null | undefined,
  description: string | null | undefined,
  body: PortableTextBlock | undefined,
  posts: Post[] | null | undefined,
  price: number | undefined,
  firstQuestionUrl: string | undefined;

try {
  const response = await fetch(
    `${Astro.url.origin}/api/documents/${Astro.params.documentId}`,
    {
      headers: {
        ...apiHeaders,
        cookie: Astro.request.headers.get("cookie") as string,
      },
    }
  );

  if (!response.ok) {
    throw new Error("", { cause: response.status });
  }

  ({ title, keywords, description, body, posts, price, firstQuestionUrl } =
    await response.json());
} catch (e) {
  if (e instanceof Error) {
    if (e.cause === 401) {
      const url = new URL(Astro.request.url).pathname;
      return Astro.redirect(`/zaloguj-sie?redirect=${url}`);
    } else {
      return Astro.redirect("/404");
    }
  }
}
---

<Layout title={pageTitle(title)} keyword={keywords} description={description}>
  <span slot="topbar-title">{title}</span>
  <section>
    <header>
      <h1>{title}</h1>
      <span>
        <small>Cena za 1 dokument:</small>
        {price && <strong>{formatNumber(price)} zł</strong>}
      </span>
      <a href={`${Astro.url.origin}${firstQuestionUrl}`}>Stwórz dokument</a>
    </header>
    <hr />
    {
      body && (
        <article class="prose">
          <PortableText value={body} />
        </article>
      )
    }
    {
      posts && (
        <>
          <hr />
          <aside>
            <h4>Powiązane artykuły</h4>
            <div>
              {posts.map(
                ({
                  title,
                  slug: { current: url },
                  publishedAt,
                  mainImage,
                  excerpt,
                }) => (
                  <BlogPost
                    title={title}
                    url={url}
                    publishedAt={publishedAt}
                    mainImage={mainImage}
                    excerpt={excerpt}
                    size="small"
                  />
                )
              )}
            </div>
          </aside>
        </>
      )
    }
    <footer>
      <a href={`${Astro.url.origin}${firstQuestionUrl}`}>Stwórz dokument</a>
    </footer>
  </section>
</Layout>

<style>
  section {
    @apply bg-white rounded-lg p-20 sm:p-40 my-20 flex flex-col gap-30 max-w-[1000px];
  }

  header {
    @apply flex items-center gap-15 lg:gap-30 flex-wrap;
  }

  header h1 {
    @apply flex-grow;
    @apply text-2xl;
    @apply w-full lg:w-auto;
  }

  header span {
    @apply flex flex-col lg:items-end flex-grow;
  }

  header span strong {
    @apply text-lg;
  }

  footer a,
  header a {
    @apply btn btn-default btn-big;
  }

  hr {
    @apply border-dark30;
  }

  footer {
    @apply p-20 flex justify-center;
  }

  footer a {
    @apply btn-big;
  }

  aside > div {
    @apply grid sm:grid-cols-2 lg:grid-cols-3 gap-20;
    @apply pt-10;
  }
</style>
