---
import Layout from "../../../layouts/App.astro";
import { getEntry } from "astro:content";
import pageTitle from "@utils/pageTitle";
import formatNumber from "@utils/number";
import Stripe from "stripe";
import { getSession } from "auth-astro/server";
import { UserRoles } from "@db/user";

const { documentId: dId } = Astro.params;
const documentId = String(dId);

Astro.cookies.delete(documentId, { path: `/dokumenty/${documentId}` });

const info = await getEntry("info", documentId);
const document = await getEntry("documents", documentId);

if (!info || !document) {
  return Astro.redirect("/404");
}

const { Content } = await info.render();
const { title, index, priceId, draft } = document.data;

if (draft) {
  const session = await getSession(Astro.request);
  if (!session || session.user?.role !== UserRoles.admin) {
    return Astro.redirect("/404");
  }
}

const stripe = new Stripe(import.meta.env.STRIPE_API_KEY, {
  apiVersion: import.meta.env.STRIPE_API_V,
});

const documentPrice = await stripe.prices.retrieve(priceId);
const price = documentPrice.unit_amount ? documentPrice.unit_amount / 100 : 0;

if (!index) {
  return Astro.redirect("/404");
}

const firstQuestionUrl = `${Astro.url.origin}/dokumenty/${documentId}/${index[0].questions[0].id.slug}`;
---

<Layout title={pageTitle(title)}>
  <span slot="topbar-title">{title}</span>
  <div>
    <header>
      <h1>{title}</h1>
      <span>
        <small>Cena za 1 dokument:</small>
        <strong>{formatNumber(price)} zł</strong>
      </span>
      <a href={firstQuestionUrl}>Stwórz dokument</a>
    </header>
    <hr />
    <article class="prose">
      <Content />
    </article>
    <footer>
      <a href={firstQuestionUrl}>Stwórz dokument</a>
    </footer>
  </div>
</Layout>

<style>
  div {
    @apply bg-white rounded-lg p-20 sm:p-40 my-20 flex flex-col gap-30;
  }

  header {
    @apply flex items-center gap-15 lg:gap-30 flex-wrap;
  }

  header h1 {
    @apply flex-grow;
    @apply text-2xl;
    @apply w-full lg:w-auto;
  }

  header span {
    @apply flex flex-col lg:items-end flex-grow;
  }

  header span strong {
    @apply text-lg;
  }

  footer a,
  header a {
    @apply btn btn-default btn-big;
  }

  hr {
    @apply border-dark30;
  }

  footer {
    @apply p-20 flex justify-center;
  }

  footer a {
    @apply btn-big;
  }
</style>
