---
import Layout from "../../../layouts/App.astro";
import Answer from "../../../components/Answer.astro";
import { getDocument } from "../../../../db/document";

const { documentId } = Astro.params;

let docId = documentId;
let data;
let answers;
let draft = false;

if (Number(documentId)) {
  data = await getDocument(documentId);

  if (data) {
    docId = data.doc;
    answers = data.answers;
    draft = data.draft;
  } else {
    return Astro.redirect("/404");
  }
} else if (Astro.cookies.has(documentId)) {
  answers = Astro.cookies.get(documentId).json();
} else {
  try {
    const seed = await import(`../../../templates/seed/${docId}.ts`);

    answers = seed.default;
  } catch (e) {
    return Astro.redirect("/404");
  }
}

const {
  frontmatter: { title, index },
} = await import(`../../../templates/${docId}-index.mdx`);
---

<Layout title={`Podsumowanie - ${title}`}>
  <span slot="topbar-title">{title}{draft && <span> - Szkic</span>}</span>
  <section>
    <h1>Podsumowanie</h1>
    {
      index.map(({ title, token, template, id }) =>
        token ? (
          <div>
            <div>
              <h6>{title}</h6>
              <Answer data={answers} template={template} token={token} />
            </div>
            <a href={`${Astro.url.origin}/dokumenty/${documentId}/${id}`}>
              Zmień
            </a>
          </div>
        ) : (
          <h4>{title}</h4>
        )
      )
    }
    <footer>
      {
        Number(documentId) && !draft ? (
          <a href={`${Astro.url.origin}/dokumenty/${documentId}/dokument`}>
            Wyświetl dokument
          </a>
        ) : (
          <form method="POST" action={`${Astro.url.origin}/dokument`}>
            {Object.entries(answers).map(([key, value]) => (
              <input type="hidden" name={key} value={value.toString()} />
            ))}
            <input type="hidden" name="id" value={documentId} />
            <button type="submit">Generuj dokument</button>
          </form>
        )
      }
    </footer>
  </section>
</Layout>
<style>
  section {
    @apply container;
  }

  section h4 {
    @apply mt-20 mb-10;
  }

  section > div {
    @apply bg-white my-10 py-10 px-20 rounded;
    @apply flex items-center gap-10;
  }

  section > div > div {
    @apply flex-grow;
  }

  section a {
    @apply btn btn-alt;
  }

  footer {
    @apply p-50 flex justify-center;
  }

  footer a,
  button[type="submit"] {
    @apply btn btn-default btn-big;
  }
</style>
