---
import Layout from "../../../layouts/App.astro";
import Answer from "../../../components/Answer.astro";
import { getDocument } from "../../../../db/document";

const { documentId } = Astro.params;

let docId = documentId;
let data = [];
let answers;

if (Number(documentId)) {
  data = await getDocument(documentId);

  if (data.length) {
    docId = data[0].doc;
    answers = data[0].answers;
  } else {
    return Astro.redirect("/404");
  }
} else if (Astro.cookies.has(documentId)) {
  answers = Astro.cookies.get(documentId).json();
} else {
  const { frontmatter: defaultAnswers } = await import(
    `../../../templates/documents/${docId}.mdx`
  );

  if (defaultAnswers) {
    answers = defaultAnswers;
  } else {
    return Astro.redirect("/404");
  }
}

const {
  frontmatter: { title, index },
} = await import(`../../../templates/${docId}-index.mdx`);
---

<Layout title={`Podsumowanie - ${title}`}>
  <section>
    <h1>Podsumowanie</h1>
    {
      index.map(({ title, token, template, id }) =>
        token ? (
          <div>
            <div>
              <h6>{title}</h6>
              <Answer data={answers} template={template} token={token} />
            </div>
            <a href={`${Astro.url.origin}/dokumenty/${documentId}/${id}`}>
              Zmień
            </a>
          </div>
        ) : (
          <h4>{title}</h4>
        )
      )
    }
    <footer>
      <a href={`${Astro.url.origin}/dokument?id=1`}>Generuj dokument</a>
    </footer>
  </section>
</Layout>
<style>
  section {
    @apply container;
  }

  section h4 {
    @apply mt-20 mb-10;
  }

  section > div {
    @apply bg-white my-10 py-10 px-20 rounded;
    @apply flex items-center gap-10;
  }

  section > div > div {
    @apply flex-grow;
  }

  section a {
    @apply btn btn-alt;
  }

  footer {
    @apply p-50 flex justify-center;
  }

  footer a {
    @apply btn btn-default btn-big;
  }
</style>
