---
import { SignOut } from "../auth-astro/components";
import Layout from "../layouts/App.astro";
import { getSession } from "../auth-astro/server";
import { getDocuments, createDocument } from "../../db/document";
import { getUserByEmail } from "../../db/auth";

const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/zaloguj-sie");
}

const user = await getUserByEmail(String(session.user?.email));
const userId = user ? user.id : null;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const docId = formData.get("template");
  const localAnswers = formData.get("answers");

  if (localAnswers) {
    const answers = JSON.parse(String(localAnswers));
    await createDocument(docId, JSON.parse(Object(answers)), userId, true);
  }
}

const documents = await getDocuments(userId);

function getCreated(datestring) {
  const date = new Date(datestring);
  return `Stworzony: ${date.getDate()}-${
    date.getMonth() + 1
  }-${date.getFullYear()}`;
}
---

<Layout title="Moje dokumenty - Prawniczek">
  <span slot="topbar-title">Moje dokumenty</span>
  <div slot="topbar-aside">
    {session.user?.email}
    <SignOut params={{ callbackUrl: Astro.url.origin }}>Wyloguj się</SignOut>
  </div>
  <section>
    {
      documents.length ? (
        documents.map(({ doc, id, title, doctitle, created, draft }) => (
          <div>
            <h4>
              {title}
              {draft && <span> - Szkic</span>}
            </h4>
            <a href={`${Astro.url.origin}/dokumenty/${doc}`}>
              <small>Szablon: {doctitle}</small>
            </a>
            <br />
            <small>{getCreated(created)}</small>
            <br />

            {draft ? (
              <a href={`${Astro.url.origin}/dokumenty/${id}/podsumowanie`}>
                Zobacz podsumowanie
              </a>
            ) : (
              <a href={`${Astro.url.origin}/dokumenty/${id}/dokument`}>
                Zobacz dokument
              </a>
            )}
          </div>
        ))
      ) : (
        <>Brak wyników</>
      )
    }
  </section>
</Layout>

<style>
  header,
  section {
    @apply flex items-center gap-20 p-20;
  }

  header h2 {
    @apply flex-grow;
  }

  section {
    @apply flex-col pt-0;
  }

  section > div {
    @apply px-20 py-10 bg-white rounded w-full;
  }
</style>
