---
import { Icon } from "astro-icon";
import { TIMEZONE as timeZone, LOCALE } from "../utils/date";
import { SignOut } from "../auth-astro/components";
import Layout from "../layouts/App.astro";
import { getSession } from "../auth-astro/server";
import {
  getDocuments,
  createDocument,
  changeDocumentName,
} from "../../db/document";
import { getUserByEmail } from "../../db/auth";
import Modal from "../components/Modal.astro";
import Badge from "../components/Badge.astro";
import EmptyScreen from "../components/EmptyScreen.astro";

const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/zaloguj-sie");
}

const user = await getUserByEmail(String(session.user?.email));
const userId = user ? user.id : null;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const docId = formData.get("template");
  const localAnswers = formData.get("answers");
  const title = formData.get("title");

  if (title) {
    await changeDocumentName(docId, title);
  } else if (localAnswers) {
    const answers = JSON.parse(String(localAnswers));
    await createDocument(docId, JSON.parse(Object(answers)), userId, true);
  }
}

const documents = await getDocuments(userId);

function formatDate(datetime) {
  const date = datetime.toLocaleDateString(LOCALE, {
    timeZone,
    day: "numeric",
    month: "long",
  });

  const time = datetime.toLocaleTimeString(LOCALE, {
    timeZone,
    hour: "numeric",
    minute: "numeric",
  });

  return `${date}, ${time}`;
}

// Group items by month
const groupedItems = {};

documents.forEach((item) => {
  const date = item.modified || item.created; // Use modified date if available, otherwise created date
  const monthYear = new Date(date).toLocaleString(LOCALE, {
    month: "long",
    year: "numeric",
  });

  if (!groupedItems[monthYear]) {
    groupedItems[monthYear] = [];
  }

  groupedItems[monthYear].push(item);
});
---

<Layout title="Moje dokumenty - Prawniczek">
  <span slot="topbar-title">Moje dokumenty</span>
  <div slot="topbar-aside">
    {session.user?.email}
    <SignOut params={{ callbackUrl: Astro.url.origin }}>Wyloguj się</SignOut>
  </div>
  {
    documents.length ? (
      <section>
        {Object.keys(groupedItems).map((monthYear) => (
          <>
            <h6>{monthYear}</h6>
            {groupedItems[monthYear].map(
              ({ doc, id, title, doctitle, created, draft, modified }) => (
                <div>
                  <header>
                    <a
                      href={`${Astro.url.origin}/dokumenty/${id}/${
                        draft ? `podsumowanie` : `dokument`
                      }`}
                    >
                      {title}
                      {draft && <Badge>Szkic</Badge>}
                    </a>
                    <a href={`${Astro.url.origin}/dokumenty/${doc}`}>
                      <Icon name="document" width={16} height={16} />
                      {doctitle}
                    </a>
                  </header>
                  {draft ? (
                    <dl>
                      <dt>{modified ? `Ostatnia zmiana:` : `Utworzony`}</dt>
                      <dd>
                        {modified ? formatDate(modified) : formatDate(created)}
                      </dd>
                    </dl>
                  ) : (
                    <span>
                      {modified ? formatDate(modified) : formatDate(created)}
                    </span>
                  )}
                  <aside>
                    <change-name data-doc-id={id} data-title={title}>
                      <button>
                        <Icon name="edit" width={24} height={24} />
                        Zmień nazwę
                      </button>
                    </change-name>
                  </aside>
                </div>
              )
            )}
          </>
        ))}
      </section>
    ) : (
      <EmptyScreen
        icon="document"
        text="Nie masz jeszcze dokumentów"
        cta="Stwórz pierwszy dokument"
        ctaUrl={`${Astro.url.origin}/dokumenty`}
      />
    )
  }
  <Modal slot="footer">
    <change-name-form>
      <h3>Zmień nazwę</h3>
      <form spellcheck="false" method="POST">
        <input type="text" name="title" required />
        <input type="hidden" name="template" />
        <button>Zapisz</button>
      </form>
    </change-name-form>
  </Modal>
</Layout>

<style>
  section {
    @apply flex gap-20 flex-wrap w-full max-w-[1024px] mx-auto py-20;
  }

  section > div {
    @apply px-20 py-15 bg-white rounded-lg w-full;
    @apply grid grid-cols-4 gap-15 items-start;
  }

  section > div > header {
    @apply col-span-2;
    @apply flex flex-col gap-[5px];
  }

  section > div > header a {
    @apply text-sm;
    @apply flex gap-[5px] items-center;
    @apply text-dark55;
  }

  section > div > header a:first-child:not(:hover) {
    @apply text-dark90;
  }

  section > div > header a:first-child {
    @apply text-xl;
  }

  section > div > dl dt {
    @apply text-xs text-dark40;
  }

  section > div > dl dt:not(:first-child) {
    @apply pt-10;
  }

  section > div > aside {
    @apply flex gap-15 items-center justify-end;
  }

  section > div > aside a {
    @apply btn btn-alt;
  }

  section small {
    @apply block;
  }

  change-name {
    @apply block;
  }

  change-name button {
    @apply btn btn-alt;
  }

  change-name-form {
    @apply flex flex-col gap-10;
  }

  change-name-form button {
    @apply btn btn-default;
  }

  change-name-form input {
    @apply w-full;
  }

  h6 {
    @apply font-bold text-xs;
  }
</style>

<script>
  class ChangeName extends HTMLElement {
    button: HTMLButtonElement;
    doctitle: string;
    docId: string;

    constructor() {
      super();

      this.doctitle = this.getAttribute("data-title");
      this.docId = this.getAttribute("data-doc-id");
      this.button = this.querySelector("button") as HTMLButtonElement;
    }

    connectedCallback() {
      this.button.addEventListener("click", () => {
        document.body.dispatchEvent(new CustomEvent("showModal"));

        const form = document.querySelector("change-name-form");

        if (form) {
          form.dispatchEvent(
            new CustomEvent("change-name", {
              detail: { title: this.doctitle, docId: this.docId },
            })
          );
        }
      });
    }
  }
  customElements.define("change-name", ChangeName);

  class ChangeNameForm extends HTMLElement {
    input: HTMLInputElement;
    hiddenInput: HTMLInputElement;
    form: HTMLFormElement;
    title: string;
    docId: string;

    constructor() {
      super();

      this.form = this.querySelector("form") as HTMLFormElement;
      this.input = this.form.querySelector(
        "input[type='text']"
      ) as HTMLInputElement;
      this.hiddenInput = this.form.querySelector(
        "input[type='hidden']"
      ) as HTMLInputElement;
      this.title = "";
      this.docId = "";
    }

    connectedCallback() {
      this.addEventListener("change-name", (event: CustomEvent) => {
        this.title = event.detail.title;
        this.docId = event.detail.docId;

        this.input.value = this.title;
        this.hiddenInput.value = this.docId;
      });

      this.form.addEventListener("submit", (event) => {
        event.preventDefault();

        const formData = new FormData(this.form);
        const newTitle = formData.get("title");

        if (newTitle !== this.title) {
          this.form.submit();
        } else {
          document.body.dispatchEvent(new CustomEvent("hideModal"));
        }
      });
    }
  }
  customElements.define("change-name-form", ChangeNameForm);
</script>
