---
import Layout from "../layouts/Layout.astro";
import {
  getVerificationData,
  createUser,
  verificationInProgress,
  wrongVerificationCode,
} from "@db/user";
import error from "@utils/errors";
import pageTitle from "@utils/pageTitle";
import AuthForm from "@components/AuthForm.astro";
import * as PARAMS from "@utils/urlParams";
import routes from "@utils/routes";

const url = new URL(Astro.request.url);
const emailParam = url.searchParams.get(PARAMS.EMAIL);
const userEmail = emailParam ? decodeURIComponent(emailParam) : null;

if (!userEmail) {
  return Astro.redirect(routes.NOT_FOUND);
}

const verificationInitialiased = await verificationInProgress(userEmail);

if (!verificationInitialiased) {
  return Astro.redirect(routes.NOT_FOUND);
}

const redirectParam = url.searchParams.get(PARAMS.REDIRECT);
const docParam = url.searchParams.get(PARAMS.DOCUMENT);
const draftParam = url.searchParams.get(PARAMS.DRAFT);

const redirectUrl = redirectParam
  ? new URL(redirectParam, Astro.url.origin)
  : null;

if (redirectUrl) {
  if (docParam) {
    redirectUrl.searchParams.append(PARAMS.DOCUMENT, docParam);
  }

  if (draftParam) {
    redirectUrl.searchParams.append(PARAMS.DRAFT, draftParam);
  }
}

let errors = [];
let userPassword;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const postedCode = formData.get("code");
  const verificationData = await getVerificationData(userEmail);

  if (!verificationData) {
    return Astro.redirect(routes.NOT_FOUND);
  }

  const { code, password, rateLimit } = verificationData;

  if (String(code) === postedCode) {
    await createUser(userEmail, password as string);

    userPassword = password;
  } else {
    if ((rateLimit as number) === 2) {
      errors.push(error.VERIFICATION_CODE_EXPIRED);
    } else {
      errors.push(error.WRONG_VERIFICATION_CODE);
    }

    await wrongVerificationCode(userEmail, (rateLimit as number) + 1);
  }
}
---

<Layout title={pageTitle("Weryfikacja adresu e-mail")}>
  {
    userPassword ? (
      <auto-login
        email={userEmail}
        password={userPassword}
        redirect={redirectUrl}
      />
    ) : (
      <AuthForm>
        <p slot="form-header">
          Podaj kod wysłany na adres e-mail <strong>{userEmail}</strong>
        </p>
        <input type="text" name="code" required />
        <button type="submit">Wyślij</button>
        {errors.length
          ? errors.map((error) => <p slot="after-submit">{error}</p>)
          : null}
      </AuthForm>
    )
  }
</Layout>

<script>
  import "@wc/AutoLogin";
</script>
