---
import Layout from "../layouts/Layout.astro";
import pageTitle from "@utils/pageTitle";
import AuthForm from "@components/AuthForm.astro";
import * as PARAMS from "@utils/urlParams";
import routes from "@utils/routes";
import { verifyCode, getVerificationInProgress } from "@api/users";
import { captureError } from "@utils/sentry";
import Icon from "astro-icon";

const url = new URL(Astro.request.url);
const emailParam = url.searchParams.get(PARAMS.EMAIL);
const userEmail = emailParam ? decodeURIComponent(emailParam) : null;
const redirectParam = url.searchParams.get(PARAMS.REDIRECT);
const docParam = url.searchParams.get(PARAMS.DOCUMENT);
const draftParam = url.searchParams.get(PARAMS.DRAFT);

let errors = [],
  userPassword;

try {
  await getVerificationInProgress(userEmail);
} catch (e) {
  captureError(e);
  return Astro.redirect(routes.NOT_FOUND);
}

const redirectUrl = redirectParam
  ? new URL(redirectParam, Astro.url.origin)
  : null;

if (redirectUrl) {
  if (docParam) {
    redirectUrl.searchParams.append(PARAMS.DOCUMENT, docParam);
  }

  if (draftParam) {
    redirectUrl.searchParams.append(PARAMS.DRAFT, draftParam);
  }
}

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const code = formData.get("code") as string;

  try {
    userPassword = await verifyCode(code, userEmail as string);
  } catch (e) {
    if (e instanceof Error) {
      errors.push(e.message);
    }
  }
}
---

<Layout title={pageTitle("Weryfikacja adresu e-mail")}>
  {
    userPassword ? (
      <auto-login
        email={userEmail}
        password={userPassword}
        redirect={redirectUrl}
      >
        <Icon name="loader" width={64} height={64} />
      </auto-login>
    ) : (
      <AuthForm>
        <p slot="form-header">
          Podaj kod wysłany na adres e-mail <strong>{userEmail}</strong>
        </p>
        <input type="text" name="code" required />
        <button type="submit">Wyślij</button>
        {errors.length
          ? errors.map((error) => <p slot="after-submit">{error}</p>)
          : null}
      </AuthForm>
    )
  }
</Layout>

<style>
  auto-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
</style>

<script>
  import "@wc/AutoLogin";
</script>
