---
import Layout, { LayoutType } from "../layouts/App.astro";
import pageTitle from "@utils/pageTitle";
import AuthForm from "@components/AuthForm.astro";
import * as PARAMS from "@utils/urlParams";
import routes from "@utils/routes";
import { getVerificationInProgress } from "@api/users";
import { captureError } from "@utils/sentry";
import Hint from "@components/Hint.astro";

const url = new URL(Astro.request.url);
const emailParam = url.searchParams.get(PARAMS.EMAIL);
const userEmail = emailParam ? decodeURIComponent(emailParam) : null;
const redirectParam = url.searchParams.get(PARAMS.REDIRECT);
const docParam = url.searchParams.get(PARAMS.DOCUMENT);
const draftParam = url.searchParams.get(PARAMS.DRAFT);

try {
  await getVerificationInProgress(userEmail);
} catch (e) {
  captureError(e);
  return Astro.redirect(routes.NOT_FOUND);
}

const redirectUrl = redirectParam
  ? new URL(redirectParam, Astro.url.origin)
  : null;

if (redirectUrl) {
  if (docParam) {
    redirectUrl.searchParams.append(PARAMS.DOCUMENT, docParam);
  }

  if (draftParam) {
    redirectUrl.searchParams.append(PARAMS.DRAFT, draftParam);
  }
}

const PAGE_NAME = "Weryfikacja adresu e-mail";
---

<Layout
  pageName={pageTitle(PAGE_NAME)}
  title=""
  layout={LayoutType.centered}
  grid={false}
>
  <verification-form email={userEmail} redirect={redirectUrl}>
    <AuthForm title={PAGE_NAME}>
      <Hint>
        Podaj kod wysłany na adres e-mail <strong>{userEmail}</strong>
      </Hint>
      <input type="text" name="code" required />
      <button type="submit">Wyślij</button>
    </AuthForm>
  </verification-form>
</Layout>

<script>
  import "@wc/VerificationForm";
</script>
