---
import Layout from "../layouts/Layout.astro";
import { getUserByEmail, activateUser } from "../../db/auth";
import error from "../utils/errors";
import pageTitle from "../utils/pageTitle";
import AuthForm from "../components/AuthForm.astro";

const url = new URL(Astro.request.url);
const userEmail = decodeURIComponent(url.searchParams.get("email"));
const redirectUrl = url.searchParams.get("redirect");

if (!userEmail) {
  return Astro.redirect("/404");
}

let errors = [];
let userPassword;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const postedCode = formData.get("code");
  const user = await getUserByEmail(userEmail);

  if (user) {
    const { code, id, password } = user;
    if (code === postedCode) {
      await activateUser(id);

      userPassword = password;
    } else {
      errors.push(error.WRONG_VERIFICATION_CODE);
    }
  } else {
    return Astro.redirect("/404");
  }
}
---

<Layout title={pageTitle("Weryfikacja adresu e-mail")}>
  {
    userPassword ? (
      <auto-login
        email={userEmail}
        password={userPassword}
        redirect={redirectUrl}
      />
    ) : (
      <AuthForm hasBackLink={false}>
        <p slot="form-header">
          Podaj kod wysłany na adres e-mail <strong>{userEmail}</strong>
        </p>
        <input type="text" name="code" required />
        <button type="submit">Wyślij</button>
        {errors.length
          ? errors.map((error) => <p slot="after-submit">{error}</p>)
          : null}
      </AuthForm>
    )
  }
</Layout>

<script>
  import { signIn } from "../auth-astro/client";

  class AutoLogin extends HTMLElement {
    redirect: string;
    email: string;
    password: string;

    constructor() {
      super();

      this.redirect = this.getAttribute("redirect");
      this.email = this.getAttribute("email");
      this.password = this.getAttribute("password");
    }

    async connectedCallback() {
      const response = await signIn("credentials", {
        redirect: false,
        email: this.email,
        password: this.password,
        callbackUrl: `${document.location.origin}${
          this.redirect ? `/${this.redirect}` : `/moje-dokumenty`
        }`,
      });

      if (response) {
        document.location.href = "/zaloguj-sie";
      }
    }
  }
  customElements.define("auto-login", AutoLogin);
</script>
