---
import Layout, { LayoutType } from "../layouts/App.astro";
import { getSession } from "auth-astro/server";
import pageTitle from "@utils/pageTitle";
import AuthForm from "@components/AuthForm.astro";
import InputGroup from "@components/InputGroup.astro";
import * as PARAMS from "@utils/urlParams";
import routes from "@utils/routes";

const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect(routes.MY_DOCUMENTS);
}

const url = new URL(Astro.request.url);
const redirectParam = url.searchParams.get(PARAMS.REDIRECT);
const docParam = url.searchParams.get(PARAMS.DOCUMENT);
const draftParam = url.searchParams.get(PARAMS.DRAFT);

const redirectUrl = redirectParam
  ? new URL(redirectParam, Astro.url.origin)
  : null;

if (redirectUrl) {
  if (docParam) {
    redirectUrl.searchParams.append(PARAMS.DOCUMENT, docParam);
  }

  if (draftParam) {
    redirectUrl.searchParams.append(PARAMS.DRAFT, draftParam);
  }
}

const PAGE_TITLE = "Zaloguj się";
---

<Layout pageName={pageTitle(PAGE_TITLE)} title="" layout={LayoutType.centered}>
  <login-form redirect={redirectUrl}>
    <AuthForm title={PAGE_TITLE}>
      <InputGroup>
        <label for="email">Adres e-mail</label>
        <input id="email" type="email" name="email" required />
      </InputGroup>
      <InputGroup>
        <label for="password">Hasło</label>
        <input
          id="password"
          type="password"
          name="password"
          required
          pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,20}$"
        />
      </InputGroup>
      <aside>
        <a href={routes.RESET_PASSWORD}>Zapomniałeś hasła?</a>
      </aside>
      <button type="submit">Zaloguj się</button>
      <footer slot="form-footer">
        Nie masz jeszcze konta?
        <a href={`${routes.SIGN_UP}${url.search}`}> Załóż konto</a>
      </footer>
    </AuthForm>
  </login-form>
</Layout>

<style>
  login-form {
    @apply col-span-full;
  }

  a {
    @apply text-sans-sm;
  }

  aside {
    @apply text-right w-full;
  }
</style>

<script>
  import "@wc/LoginForm";
</script>
