---
import InputGroup from "@components/InputGroup.astro";
import type { Address } from "@type";
import { InputSize } from "@components/InputGroup.astro";

interface Props extends Partial<Address> {
  fieldId?: string;
  required?: boolean;
  size?: InputSize;
}

const {
  street,
  apt,
  postalCode,
  city,
  fieldId,
  required = false,
  size = InputSize.default,
} = Astro.props;
---

<address>
  <InputGroup size={size}>
    <label for="street">Adres (ulica i numer domu)</label>
    <input
      id="street"
      type="text"
      name="street"
      value={street}
      required={required || undefined}
      data-label="Adres (ulica i numer domu)"
    />
  </InputGroup>
  <InputGroup size={size}>
    <label for="apt">Adres (numer lokalu)</label>
    <input id="apt" type="text" name="apt" value={apt} />
  </InputGroup>
  <InputGroup size={size}>
    <label for="postalCode">Kod pocztowy</label>
    <input
      id="postalCode"
      type="text"
      name="postalCode"
      value={postalCode}
      required={required || undefined}
    />
  </InputGroup>
  <InputGroup size={size}>
    <label for="city">Miasto</label>
    <input
      id="city"
      type="text"
      name="city"
      value={city}
      required={required || undefined}
      data-label="Miasto"
    />
  </InputGroup>
  {fieldId && <input type="hidden" name={fieldId} />}
</address>

<style>
  address {
    @apply flex flex-col gap-20;
  }
</style>
