---
import InputGroup from "@components/InputGroup.astro";
import type { Address } from "@type";

interface Props extends Partial<Address> {
  fieldId?: string;
  required?: boolean;
}

const {
  street,
  apt,
  postalCode,
  city,
  fieldId,
  required = false,
} = Astro.props;
---

<address>
  <InputGroup>
    <label for="street">Adres (ulica i numer domu)</label>
    <input
      id="street"
      type="text"
      name="street"
      value={street}
      required={required || undefined}
      class="flex-grow"
      data-label="Adres (ulica i numer domu)"
    />
  </InputGroup>
  <InputGroup>
    <label for="apt">Adres (numer lokalu)</label>
    <input id="apt" type="text" name="apt" value={apt} class="flex-grow" />
  </InputGroup>
  <section>
    <InputGroup>
      <label for="postalCode">Kod pocztowy</label>
      <input
        id="postalCode"
        type="text"
        name="postalCode"
        value={postalCode}
        required={required || undefined}
        class="flex-grow"
      />
    </InputGroup>
    <InputGroup>
      <label for="city">Miasto</label>
      <input
        id="city"
        type="text"
        name="city"
        value={city}
        required={required || undefined}
        class="flex-grow"
        data-label="Miasto"
      />
    </InputGroup>
  </section>
  {fieldId && <input type="hidden" name={fieldId} />}
</address>

<style>
  section {
    @apply flex gap-20 flex-wrap lg:flex-nowrap;
  }

  section :global(div),
  address :global(div input) {
    @apply flex-grow;
  }

  address {
    @apply flex flex-col gap-20;
  }
</style>
