---
import imageUrl from "@utils/sanityImage";
import Badge, { BadgeSize } from "./Badge.astro";
import type { Post } from "@type";

export enum BlogPostSize {
  default = "",
  large = "lg",
  xlarge = "xlg",
}

interface Props {
  title: Post["title"];
  url: string;
  publishedAt: Post["publishedAt"];
  createdAt?: Post["publishedAt"];
  mainImage: Post["mainImage"];
  excerpt?: Post["excerpt"];
  size?: BlogPostSize;
  newest?: boolean;
}

const {
  title,
  url,
  publishedAt,
  mainImage,
  excerpt,
  size = BlogPostSize.default,
  newest = false,
} = Astro.props;

function getWidth(size: BlogPostSize) {
  switch (size) {
    case BlogPostSize.default:
      return 100;
    case BlogPostSize.large:
      return 150;
    case BlogPostSize.xlarge:
      return 480;
  }
}

function getHeight(size: BlogPostSize) {
  switch (size) {
    case BlogPostSize.default:
      return 100;
    case BlogPostSize.large:
      return 150;
    case BlogPostSize.xlarge:
      return 270;
  }
}
---

<div data-size={size}>
  {
    mainImage && (
      <figure>
        <picture>
          <img
            src={imageUrl(mainImage, getWidth(size), getHeight(size)).url()}
            alt={title}
            loading="lazy"
            width={getWidth(size)}
            height={getHeight(size)}
          />
        </picture>
      </figure>
    )
  }
  <div>
    {newest && <span>Najnowszy wpis</span>}
    <a href={`${Astro.url.origin}/blog/${url}`}>
      <h5>{title}</h5>
    </a>
    {!publishedAt && <Badge>szkic artykułu</Badge>}
    {excerpt && <p>{excerpt}</p>}
    <a href={`${Astro.url.origin}/blog/${url}`}>Czytaj</a>
  </div>
</div>

<style>
  div {
    @apply flex gap-15 py-10 w-full;
  }

  figure {
    @apply w-[100px] h-[100px] flex-shrink-0 rounded-sm overflow-hidden;
    @apply opacity-90;
  }

  div[data-size="lg"] figure {
    @apply lg:w-[150px] lg:h-[150px];
  }

  div[data-size="xlg"] figure {
    @apply w-full h-[200px] lg:w-[480px] lg:h-[270px];
  }

  div[data-size="xlg"] figure img {
    @apply w-full h-auto;
  }

  div:hover figure {
    @apply opacity-100;
  }

  div a:last-child {
    @apply btn btn-alt;
  }

  div > div {
    @apply flex-col py-0 flex-grow items-start;
  }

  h5 {
    @apply text-serif-sm text-black hover:text-active;
  }

  div[data-size="lg"] h5,
  div[data-size="xlg"] h5 {
    @apply md:text-serif-md;
  }

  div[data-size="xlg"] {
    @apply col-span-full;
    @apply lg:gap-40;
    @apply flex-wrap lg:flex-nowrap;
  }

  div[data-size="xlg"] > div {
    @apply lg:pt-10;
  }

  p {
    @apply text-serif-sm lg:text-serif-md;
  }

  span {
    @apply uppercase text-sans-xxs;
  }
</style>
