---
import CategoryBlock from "@components/CategoryBlock.astro";
import { CATEGORY } from "@utils/urlParams";
import { getCategories } from "@api/templates";
import { DocumentCategory } from "@type";
import routes from "@utils/routes";

let categories: DocumentCategory[];

try {
  categories = await getCategories();
} catch {
  return Astro.redirect(routes.NOT_FOUND);
}
---

<section>
  <h4>lub przeglądaj w kategoriach</h4>
  <div id="categories">
    {
      categories.map(({ title: name, icon, slug: id }) => (
        <CategoryBlock
          title={name}
          icon={icon}
          href={`${Astro.url.origin}/dokumenty?${CATEGORY}=${id}`}
        />
      ))
    }
  </div>
  <footer>
    <a href={`${Astro.url.origin}/dokumenty`}>Zobacz wszystkie dokumenty</a>
  </footer>
</section>

<style>
  section {
    /* @apply lg:px-60; */
    @apply text-center w-full;
    @apply flex flex-col gap-40;
  }

  section > div {
    @apply flex flex-wrap items-center justify-center lg:grid lg:grid-cols-5 gap-30;
    @apply m-auto;
  }

  footer > a {
    @apply btn btn-alt;
  }

  section > h4 {
    @apply text-dark55;
  }
</style>
