---
import InputGroup, { InputType, InputSize } from "./InputGroup.astro";

interface Props {
  values: string[];
  selected: string;
  token: string;
  required: boolean;
  size?: InputSize;
  label?: string;
}

const {
  values,
  selected,
  token,
  required,
  size = InputSize.default,
  label,
} = Astro.props;
---

<checkbox-list required={required} data-size={size}>
  {label && <legend>{label}</legend>}
  {
    values.map((val, index) => (
      <InputGroup type={InputType.checkbox} size={InputSize.lg}>
        <input
          type="checkbox"
          id={`cb-${index}`}
          checked={selected.includes(val)}
          data-label={val}
        />
        <label for={`cb-${index}`}>{val}</label>
      </InputGroup>
    ))
  }
  <input type="hidden" name={token} value={selected} data-type="array" />
</checkbox-list>

<style>
  checkbox-list {
    @apply flex flex-col gap-10;
  }

  checkbox-list[data-size="lg"] legend {
    @apply text-sans-lg;
  }
</style>

<script>
  import "@wc/CheckboxList";
</script>
