---
import { Icon } from "astro-icon";
import { entityEnum } from "@utils/constants";

const {
  type,
  personName,
  personStreet,
  personApt,
  personPostalCode,
  personCity,
  personPin,
  companyName,
  companyStreet,
  companyApt,
  companyPostalCode,
  companyCity,
  companyPin,
} = Astro.props;

let name, street, apt, postalCode, city, pin, address, typeLabel, pinLabel;

switch (type) {
  case entityEnum[0]:
    name = personName;
    street = personStreet;
    apt = personApt;
    postalCode = personPostalCode;
    city = personCity;
    pin = personPin;

    typeLabel = entityEnum[0];
    pinLabel = "PESEL";
    break;
  case entityEnum[1]:
    name = companyName;
    street = companyStreet;
    apt = companyApt;
    postalCode = companyPostalCode;
    city = companyCity;
    pin = companyPin;

    typeLabel = entityEnum[1];
    pinLabel = "NIP";
    break;
  default:
    return Astro.redirect("/404");
}

let streetAddr = `${street}${apt.length ? ` /${apt}` : ``}`;
address = `${postalCode} ${city}, ${streetAddr}`;

const data = [name, pin, street, postalCode, city].every((field) => field);
---

{
  data ? (
    <>
      <span>
        {name} ({typeLabel})
      </span>
      <br />
      <span>{address}</span>
      <br />
      <span>
        {pinLabel}: {pin}
      </span>
    </>
  ) : (
    <div class="text-orangeDark flex gap-10 items-center">
      <Icon name="info" width={24} height={24} class="text-orange" />
      Uzupełnij dane
    </div>
  )
}
