---
import { Icon } from "astro-icon";
import { entityEnum } from "@utils/constants";

const {
  type,
  personName,
  personStreet,
  personApt,
  personPostalCode,
  personCity,
  personPin,
  companyName,
  companyStreet,
  companyApt,
  companyPostalCode,
  companyCity,
  companyPin,
} = Astro.props;

let name, address, pin;
let typeLabel, pinLabel;

if (type === entityEnum[0]) {
  let street = `${personStreet}${personApt.length ? ` /${personApt}` : ``}`;

  name = personName;
  address = `${personPostalCode} ${personCity}, ${street}`;
  pin = personPin;
  typeLabel = entityEnum[0];
  pinLabel = "PESEL";
} else {
  let street = `${companyStreet}${companyApt.length ? ` /${companyApt}` : ``}`;

  name = companyName;
  address = `${companyPostalCode} ${companyCity}, ${street}`;
  pin = companyPin;
  typeLabel = entityEnum[1];
  pinLabel = "NIP";
}

const data = name && address && pin;
---

{
  data ? (
    <>
      <span>
        {name} ({typeLabel})
      </span>
      <br />
      <span>{address}</span>
      <br />
      <span>
        {pinLabel}: {pin}
      </span>
    </>
  ) : (
    <div class="text-orangeDark flex gap-10 items-center">
      <Icon name="info" width={24} height={24} class="text-orange" />
      Uzupełnij dane
    </div>
  )
}
