---
import type { Identity } from "@type";
import { entityEnum } from "@utils/constants";

interface Props extends Identity {
  label: string;
}

const { label, type, name, street, apt, postalCode, city, pin, bankAccount } =
  Astro.props;

const streetAddr = `${street}${apt?.toString().length ? ` / ${apt}` : ``}`;
const address = `${postalCode} ${city}, ${streetAddr}`;
const isPersonal = type === entityEnum.PERSONAL;
const typeLabel = isPersonal ? entityEnum.PERSONAL : entityEnum.COMPANY;
const pinLabel = isPersonal ? "PESEL" : "NIP";

const canDisplay = [name, street, postalCode, city, pin].every(
  (item) => item && item !== ""
);
---

{
  canDisplay ? (
    <p>
      {label && (
        <>
          {label}:
          <br />
        </>
      )}
      {name} ({typeLabel}) <br />
      {address}
      <br />
      {pinLabel}: {pin}
      {bankAccount && (
        <>
          <br />
          Nr konta bankowego: {bankAccount}
        </>
      )}
    </p>
  ) : (
    <div>Uzupełnij dane</div>
  )
}

<style>
  div {
    @apply text-active flex gap-10 items-center;
  }

  div svg {
    @apply text-active;
  }
</style>
