---
import { entityEnum } from "@content/documents/umowa-najmu-lokalu/_schema";
import InputGroup from "@components/InputGroup.astro";

const { name, data } = Astro.props;
---

<fieldset>
  <InputGroup>
    <label for="type">Rodzaj podmiotu</label>
    <select id="type" name={`${name}Type`} value={data[0]}>
      {
        entityEnum.map((type) => (
          <option selected={data[0] === type}>{type}</option>
        ))
      }
    </select>
  </InputGroup>
  <InputGroup>
    <label for="name">Imię i nazwisko / nazwa</label>
    <input
      id="name"
      type="text"
      name={`${name}Name`}
      value={data[1]}
      class="flex-grow"
    />
  </InputGroup>
  <InputGroup>
    <label for="address">Adres</label>
    <input
      id="address"
      type="text"
      name={`${name}Address`}
      value={data[2]}
      class="flex-grow"
    />
  </InputGroup>
  <InputGroup>
    <label for="pin">PESEL / NIP</label>
    <input id="pin" type="text" name={`${name}Pin`} value={data[3]} />
  </InputGroup>
</fieldset>
