---
import { Icon } from "astro-icon";
import formatNumber from "@utils/number";
import Badge from "./Badge.astro";
import type { DocumentCategory } from "@type";

interface Props {
  slug: string;
  title: string;
  docCategories: string[];
  categories: DocumentCategory[];
  price: number;
  draft: boolean;
}

const { slug, title, docCategories, categories, price, draft } = Astro.props;

const getCategoryName = (slug: string) => {
  const ct = categories.find(({ slug: id }) => id === slug);

  return ct ? ct.title.toLowerCase() : null;
};

const categoryList = docCategories
  .sort((a, b) => a.localeCompare(b))
  .map((id) => getCategoryName(id))
  .join(", ");
---

<a href={`${Astro.url.origin}/dokumenty/${slug}`} title={title}>
  <header>
    {draft && <Badge>Szkic dokumentu</Badge>}
    <h3>{title}</h3>
  </header>
  <strong>{price ? `${formatNumber(price)} zł` : "-"}</strong>
  <footer>
    {categoryList}
  </footer>
  <aside>
    <Icon name="arrow-right" width={24} height={24} />
  </aside>
</a>

<style>
  a {
    @apply grid grid-cols-[1fr_auto] grid-rows-[1fr_auto_auto] grid-flow-col gap-5;
    @apply p-15 pl-20 bg-white rounded-lg;
  }

  header {
    @apply flex flex-col gap-10 items-start;
  }

  header h3 {
    @apply text-lg xl:text-xl md:line-clamp-2 xl:line-clamp-3 pb-5;
  }

  a:hover header h3 {
    @apply text-orangeDark;
  }

  footer {
    @apply text-xs;
  }

  a:hover footer li {
    @apply text-dark65;
  }

  aside {
    @apply row-[1_/_span_2];
    @apply h-full flex items-center;
  }
</style>
