---
import BlogPost from "./BlogPost.astro";
import type { BlogPosts } from "@type";
import { getPosts } from "@api/posts";
import routes from "@utils/routes";

const limit = 4;

let posts: BlogPosts["posts"];

try {
  const response = await getPosts(
    `${Astro.request.headers.get("cookie")}`,
    1,
    limit,
    false
  );

  ({ posts } = response);
} catch (e) {
  return Astro.redirect(routes.NOT_FOUND);
}
---

{
  posts && (
    <section>
      <header>
        <h2>Najnowsze wpisy na blogu</h2>
      </header>
      <div>
        {posts.map(({ title, slug, publishedAt, mainImage, excerpt }) => (
          <BlogPost
            title={title}
            url={slug}
            publishedAt={publishedAt}
            mainImage={mainImage}
            excerpt={excerpt}
            size="small"
          />
        ))}
      </div>
    </section>
  )
}

<style>
  section {
    @apply pt-30 pb-10;
  }

  section div {
    @apply grid sm:grid-cols-2 lg:grid-cols-4 gap-20;
    @apply pt-20;
  }
</style>
