---
import BlogPost from "./BlogPost.astro";
import type { BlogPosts } from "@type";
import { getPosts } from "@api/posts";
import { getSession } from "auth-astro/server";

const limit = 4;
const session = await getSession(Astro.request);

let posts: BlogPosts["posts"];

try {
  const response = await getPosts(
    Astro.request.url,
    limit,
    1,
    undefined,
    Boolean(session)
  );

  ({ posts } = response);
} catch (e) {
  return Astro.redirect("/404");
}
---

{
  posts && (
    <section>
      <header>
        <h2>Najnowsze wpisy na blogu</h2>
      </header>
      <div>
        {posts.map(
          ({
            title,
            slug: { current: url },
            publishedAt,
            mainImage,
            excerpt,
          }) => (
            <BlogPost
              title={title}
              url={url}
              publishedAt={publishedAt}
              mainImage={mainImage}
              excerpt={excerpt}
              size="small"
            />
          )
        )}
      </div>
    </section>
  )
}

<style>
  section {
    @apply pt-30 pb-10;
  }

  section div {
    @apply grid sm:grid-cols-2 lg:grid-cols-4 gap-20;
    @apply pt-20;
  }
</style>
