---
import Badge, { BadgeSize, BadgeStyle } from "@components/Badge/badge";
import TemplateList from "@components/TemplateList";
import routes from "@utils/routes";

const templates = [
	{
		title: "Umowa najmu lokalu",
		slug: `${Astro.url.origin}/dokumenty/umowa-najmu-lokalu`,
		categories: ["nieruchomosci"],
		price: 31.99,
		draft: false,
	},
];
---

<section>
	<h2>
		<Badge size={BadgeSize.large} style={BadgeStyle.green}>
			Najpopularniejsze dokumenty
		</Badge>
	</h2>
	<TemplateList templates={templates} />
	<footer>
		<a href={routes.DOCUMENTS}>Zobacz wszystkie dokumenty</a>
	</footer>
</section>

<style>
	section {
		@apply px-20 lg:container py-30;
		@apply grid gap-20 lg:gap-30;
		@apply grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xxl:grid-cols-6;
	}

	h2,
	footer {
		@apply sm:col-span-2 md:col-span-3 lg:col-span-4 xl:col-span-5 xxl:col-span-6;
	}

	footer {
		@apply flex justify-center py-10;
	}

	footer a {
		@apply btn btn-default;
	}
</style>
