---
import Icon, { IconSize } from "@components/Icon.astro";
import { PAGE } from "@utils/urlParams";

interface Props {
  pages: number;
  currentPage: number;
  url: string;
}

const { pages, currentPage, url } = Astro.props;
---

{
  pages > 1 && (
    <footer>
      {currentPage > 1 ? (
        <a
          href={`${url}?${PAGE}=${currentPage - 1}`}
          aria-label="Poprzednia strona"
          title="Poprzednia strona"
        >
          <Icon name="arrow-left" />
        </a>
      ) : (
        <span />
      )}
      <small>
        Strona{" "}
        <strong>
          {currentPage} z {pages}
        </strong>
      </small>
      {currentPage < pages && (
        <a
          href={`${url}?${PAGE}=${currentPage + 1}`}
          aria-label="Następna strona"
          title="Następna strona"
        >
          <Icon name="arrow-right" size={IconSize.sm} />
        </a>
      )}
    </footer>
  )
}

<style>
  footer {
    @apply grid grid-cols-[1fr_auto_1fr] gap-20 items-center w-full;
    @apply py-20;
    @apply col-span-full;
  }

  footer > small {
    @apply justify-self-center text-sans-xxs;
  }

  footer > a:first-child {
    @apply justify-self-end;
  }
</style>
