---
import Modal from "@components/Modal.astro";
import { Image } from "@astrojs/image/components";
import p24 from "public/p24.png";
import { Icon } from "astro-icon";
import * as PARAMS from "@utils/urlParams";
import routes from "@utils/routes";

interface Props {
  documentId: string;
}

const { documentId } = Astro.props;
const redirectAfterSignIn = `${routes.SIGN_IN}?${PARAMS.REDIRECT}=${routes.DOCUMENTS}/${documentId}${routes.ORDER}`;
const redirectAfterSignUp = `${routes.SIGN_UP}?${PARAMS.REDIRECT}=${routes.DOCUMENTS}/${documentId}${routes.ORDER}`;
---

<Modal modalId="payment" slot="footer">
  <header>
    <h3>Za chwilę przekierujemy Cię na stronę płatności</h3>
  </header>
  <section>
    <header>
      <a href={redirectAfterSignIn}>Zaloguj się</a>
      lub
      <a href={redirectAfterSignUp}>Załóż konto</a>
    </header>
    <ul>
      <li>
        Zalogowani użytkownicy mogą korzystać z dodatkowych funkcjonalności:
      </li>
      <li>
        <Icon name="tick" width={24} height={24} />dostęp do stworzonych
        dokumentów
      </li>
      <li><Icon name="tick" width={24} height={24} />szkice dokumentów</li>
      <li>
        <Icon name="tick" width={24} height={24} />współpraca z innymi
        użytkownikami przy tworzeniu dokumentów
      </li>
      <li>
        <Icon name="tick" width={24} height={24} />wypełnianie danych przez
        Profil Zaufany, Nowy Dowód lub bank
      </li>
      <li>
        <Icon name="tick" width={24} height={24} />tworzenie podobnych
        dokumentów
      </li>
    </ul>
  </section>
  <footer>
    <h4>Zakup bez tworzenia konta</h4>
    <order-form data-document-id={documentId}>
      <form method="POST">
        <input
          type="email"
          name="email"
          placeholder="Podaj adres e-mail"
          required
        />
        <button type="submit">Zakup bez konta</button>
      </form>
    </order-form>
    <Image
      src={p24}
      alt="Płatności Przelewy24"
      width={600}
      height={306}
      format="avif"
      fit="fill"
    />
  </footer>
</Modal>

<style>
  :global(#payment) {
    @apply lg:w-auto py-50 justify-start;
  }

  header,
  section,
  footer {
    @apply flex flex-col gap-20 items-center w-full;
  }

  section header {
    @apply text-xxl sm:flex-row justify-center;
    @apply py-30;
  }

  section {
    @apply py-10;
  }

  section a {
    @apply btn btn-default btn-big;
  }

  section ul li:first-child {
    @apply pb-15;
  }

  section ul li:not(:first-child) {
    @apply text-dark90 text-lg;
    @apply flex gap-15 pb-5;
  }

  section ul li:not(:first-child) svg {
    @apply text-orange;
    @apply flex-shrink-0;
  }

  footer {
    @apply pt-30 pb-10 border-t border-t-dark30 mt-30;
  }

  footer form {
    @apply flex gap-10 items-center justify-center w-full px-20 flex-wrap sm:flex-nowrap;
  }

  footer form input {
    @apply flex-grow;
  }

  footer button[type="submit"] {
    @apply btn btn-alt;
    @apply flex-shrink-0;
  }
</style>

<script>
  import "@wc/OrderForm";
</script>
