---
const { index, current, documentId } = Astro.props;
---

<aside>
  {
    index.map(({ title, questions }) => (
      <>
        <h5>{title}</h5>
        {questions.map(({ id: { slug }, title }) => {
          if (slug === current) {
            return <span>{title}</span>;
          } else {
            return (
              <a href={`${Astro.url.origin}/dokumenty/${documentId}/${slug}`}>
                {title}
              </a>
            );
          }
        })}
      </>
    ))
  }
  <a href={`${Astro.url.origin}/dokumenty/${documentId}/podsumowanie`}>
    Podsumowanie
  </a>
</aside>
<style>
  aside {
    @apply bg-white rounded p-30 flex flex-col;
    @apply sticky top-[var(--navbar-height)];
    @apply min-w-[270px];
  }

  a + h5 {
    @apply mt-10;
  }

  h5 {
    @apply text-dark40;
  }

  span {
    @apply text-orangeDark;
  }
</style>
