---
const { index, current, documentId } = Astro.props;
---

<aside>
  {
    index.map(({ title, questions }) => (
      <section>
        <h5>{title}</h5>
        {questions.map(({ id: { slug }, title }) => {
          if (slug === current) {
            return <span>{title}</span>;
          } else {
            return (
              <a href={`${Astro.url.origin}/dokumenty/${documentId}/${slug}`}>
                {title}
              </a>
            );
          }
        })}
      </section>
    ))
  }
  <a href={`${Astro.url.origin}/dokumenty/${documentId}/podsumowanie`}>
    Podsumowanie
  </a>
</aside>
<style>
  aside {
    @apply bg-white rounded p-20 flex flex-col gap-20;
    @apply sticky top-[var(--navbar-height)];
    @apply min-w-[290px];
    @apply text-sm;
    @apply my-20;
  }

  h5 {
    @apply text-dark40 mb-[5px];
  }

  span {
    @apply text-orangeDark;
  }

  section {
    @apply flex flex-col;
  }

  section a,
  section span {
    @apply py-[2px] px-10;
  }

  aside > a:last-child {
    @apply px-0;
  }
</style>
