---
import routes from "@utils/routes";
import Icon, { IconSize } from "@components/Icon.astro";
import Modal from "./Modal.astro";

interface Props {
  index: {
    slug: string;
    title: string;
  }[];
  current: string;
  documentId: string | number;
  documentTitle: string;
}

const { index, current, documentId, documentTitle } = Astro.props;
---

<Modal modalTitle={documentTitle} modalId="questionIndex">
  <section>
    <header>
      <h6>Lista pytań</h6>
    </header>
    {
      index.map(({ slug, title }, index) => (
        <>
          {slug === current ? (
            <div>
              <span>
                <small>{index + 1}.</small>
                {title}
              </span>
            </div>
          ) : (
            <a href={`${Astro.url.origin}/dokumenty/${documentId}/${slug}`}>
              <span>
                <small>{index + 1}.</small>
                {title}
              </span>
              <Icon name="arrow-right" size={IconSize.sm} />
            </a>
          )}
        </>
      ))
    }
    <a
      href={`${Astro.url.origin}${routes.DOCUMENTS}/${documentId}${routes.SUMMARY}`}
    >
      <span>Podsumowanie</span>
      <Icon name="arrow-right" size={IconSize.sm} />
    </a>
  </section>
</Modal>

<style>
  header {
    @apply pb-8;
  }

  header h6 {
    @apply text-sans-xs text-black/50;
  }

  small {
    @apply text-sans-xs;
  }

  div,
  a {
    @apply flex gap-10 items-center;
    @apply border-t border-black/30;
    @apply px-10 py-8;
  }

  div {
    @apply text-active;
  }

  span {
    @apply flex-grow flex items-baseline gap-10;
  }

  a:hover {
    @apply bg-black/5 text-black;
  }
</style>
