---
import InputGroup from "@components/InputGroup.astro";

interface Props {
  values: {
    value: number | string;
    label: string;
    disabled?: boolean;
  }[];
  name: string;
  selected: number;
}

const { values, name, selected = 0 } = Astro.props;
---

<section>
  {
    values.map(({ value, label, disabled }) => (
      <InputGroup className="items-center flex-nowrap">
        <input
          type="radio"
          name={name}
          id={`${name}${value}`}
          value={value}
          checked={selected.toString() === value.toString()}
          disabled={disabled}
        />
        <label for={`${name}${value}`}>{label}</label>
      </InputGroup>
    ))
  }
</section>

<style>
  input[disabled] {
    @apply opacity-50;
  }

  input[disabled] + label {
    @apply opacity-50 cursor-not-allowed;
  }

  section {
    @apply flex flex-col gap-15;
  }
</style>
