---
const { options, labels, token, selected } = Astro.props;
---

<radio-grid>
  <fieldset>
    <header>
      {options.map((opt) => <div>{opt}</div>)}
    </header>
    {
      labels.map((label) => (
        <div>
          <label>{label}</label>
          {options.map((opt, index) => {
            return index > 0 ? (
              <input
                type="radio"
                name={label}
                value={opt}
                aria-label={`${opt}`}
                checked={selected[index - 1].includes(label)}
              />
            ) : null;
          })}
        </div>
      ))
    }
    {
      token.map((t, index) => (
        <input type="hidden" name={t} id={options[index + 1]} />
      ))
    }
  </fieldset>
</radio-grid>

<style>
  fieldset header,
  fieldset > div {
    @apply flex;
  }

  fieldset header > div:first-child,
  fieldset > div label {
    @apply flex-grow;
  }
</style>
