---
import Layout from "./Layout.astro";
import AppMenu from "@components/AppMenu.astro";
import { getSession } from "auth-astro/server";
import SignedInMenu from "@components/SignedInMenu.astro";
import ShowMobileMenu from "@components/ShowMobileMenu.astro";
import { Icon } from "astro-icon";

const { title } = Astro.props;
const session = await getSession(Astro.request);

const redirectUrl = String(Astro.url).replace(Astro.url.origin, "").slice(1);
---

<Layout title={title}>
  <AppMenu session={session} />
  <main>
    <header>
      <a href={Astro.url.origin} aria-label="Strona główna">
        <Icon name="logo" width={40} height={40} alt="Prawniczek" />
      </a>
      <div>
        <h1>
          <slot name="topbar-title">title</slot>
        </h1>
        <slot name="topbar-after-title" />
      </div>
      <aside>
        <slot name="topbar-aside" />
        <nav>
          {
            session ? (
              <SignedInMenu email={session.user?.email} />
            ) : (
              <>
                <a
                  href={`${Astro.url.origin}/zaloz-konto?redirect=${redirectUrl}`}
                >
                  Załóż konto
                </a>
                <a
                  href={`${Astro.url.origin}/zaloguj-sie?redirect=${redirectUrl}`}
                >
                  Zaloguj się
                </a>
              </>
            )
          }
        </nav>
      </aside>
      <ShowMobileMenu />
    </header>
    <slot name="content-header" />
    <section>
      <slot />
    </section>
  </main>
  <slot name="footer" />
</Layout>

<style is:global>
  :root {
    --navbar-height: 62px;
    --app-height: 100vh;
  }
</style>
<style is:inline>
  body {
    display: flex;
    height: var(--app-height);
  }
</style>
<script>
  function setAppHeight() {
    document.documentElement.style.setProperty(
      "--app-height",
      `${window.innerHeight}px`
    );
  }

  setAppHeight();
  window.addEventListener("resize", setAppHeight);
</script>

<style>
  main {
    @apply flex-grow;
    @apply overflow-auto;
    @apply px-20 md:px-30;
    @apply flex flex-col;
  }

  main > header {
    @apply flex items-start md:items-center;
    @apply py-10 md:py-0;
    @apply sticky top-0;
    @apply bg-gray;
    @apply gap-15;
    @apply z-50;
    @apply w-full;
    @apply min-h-[var(--navbar-height)];
    @apply flex-shrink-0;
  }

  main > header > div {
    @apply flex-grow flex gap-10 items-center min-h-full;
  }

  main > header h1 {
    @apply font-sans font-bold not-italic text-dark65 tracking-tight;
    @apply text-xxl;
  }

  main > header h1 :global(> span) {
    @apply flex items-center gap-5;
    @apply flex-wrap md:flex-nowrap;
  }

  main > header h1 :global(> span > span:first-child) {
    @apply line-clamp-2 md:line-clamp-1;
  }

  main > header > aside {
    @apply flex gap-30 items-center flex-shrink-0;
  }

  main > header > aside nav {
    @apply hidden lg:flex;
    @apply gap-15 items-center;
  }

  main > header > aside nav a {
    @apply btn btn-default;
  }

  main > header > aside nav button {
    @apply btn btn-alt;
  }

  main > section {
    @apply flex items-start justify-center flex-1 gap-30 flex-wrap lg:flex-nowrap;
    @apply pb-80 md:pb-[var(--navbar-height)];
  }

  main > header :global(show-mobile-menu) {
    @apply block md:hidden;
  }

  main > header > a {
    @apply md:hidden;
  }

  main > header :global(change-name) {
    @apply hidden md:block;
  }
</style>
