---
import ChatWidget from "@components/ChatWidget.astro";
import GA from "@components/GA.astro";
import "@components/GlobalStyles.astro";

export interface Props {
  title: string;
  keywords: string;
  description: string;
}

const { title, keywords, description } = Astro.props;

const DESC =
  "Przystępne i precyzyjne dokumenty prawne z pomocą wirtualnego prawnika! Generuj, podpisuj i przechowuj dokumenty prawne.";
const KEYWORDS = "umowa, dokument prawny, generuj umowę, generuj dokument";

const canonicalURL = new URL(Astro.url.pathname, Astro.url.origin);
const socialImageURL = new URL("/og.png", Astro.url);

const metaDescription = description ?? DESC;
const metaKeywords = keywords ?? KEYWORDS;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href=`${Astro.url.origin}/favicon/apple-touch-icon.png`
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href=`${Astro.url.origin}/favicon/favicon-32x32.png`
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href=`${Astro.url.origin}/favicon/favicon-16x16.png`
    />
    <link rel="manifest" href=`${Astro.url.origin}/favicon/site.webmanifest` />
    <link
      rel="mask-icon"
      href=`${Astro.url.origin}/favicon/safari-pinned-tab.svg`
      color="#5bbad5"
    />
    <link rel="shortcut icon" href=`${Astro.url.origin}/favicon/favicon.ico` />
    <link rel="canonical" href={canonicalURL} />
    <meta name="msapplication-TileColor" content="#f5f3ee" />
    <meta
      name="msapplication-config"
      content=`${Astro.url.origin}/favicon/browserconfig.xml`
    />
    <meta name="theme-color" content="#f5f3ee" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <meta name="keywords" content={metaKeywords} />
    <meta property="og:site_name" content="Prawniczek" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="706" />
    <meta property="twitter:image" content={socialImageURL} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:description" content={metaDescription} />
    <meta property="twitter:title" content={title} />
    <title>{title}</title>
  </head>
  <body>
    {import.meta.env.MODE === "production" && <GA />}
    <slot />
    {import.meta.env.MODE === "production" && <ChatWidget />}
  </body>
</html>
